body{
    font-family:'Averia Libre';
    font-size:20px;
    margin:0;
}
h1{
    color:rgb(149, 69, 53)
}

h2{
    color:navy;
    font-family: Georgia;
     font-size: 100%;
}
body{
    background-image: url("..\Photos_bg\aesthet.png.");
}
.nav{
    width: 100%;
    border: 0;
    padding: 0;
    height: 10%;
  }
  .Qs
{
    background: linear-gradient(rgba(68, 105, 114,0.6),rgba(41, 173, 125, 0.5));
    padding: 10px;
    border-radius: 25px;
}
