body{
    font-family:'Averia Libre';
    font-size:20px;
    margin:0;
}
h1{
    color:rgb(149, 69, 53)
}

h2{
    color:#446972;;
    font-family: Georgia;
     font-size: 100%;
}
body{
    background-image: url("../Photos_bg/aesthet.png.");
}
.nav{
    width: 100%;
    border: 0;
    padding: 0;
  }