body{
    background-image: url("../Photos_bg/cat6.png");
}
.nav{
    width: 100%;
    border: 0;
    padding: 0;
  }
.p{
    text-decoration: overline;
}
.box{
    padding: 40px;
    background-color: #B5CEA8;
    border-radius:15px;
    background: linear-gradient(rgba(68, 105, 114,0.6),rgba(41, 173, 125, 0.5)),url("Photos_bg/adopt_fost_index.png");
    text-align: center;
    font-size: large;
    font-family: candara;
    color: navy;
}
.heading_box{
    color: rgb(165, 50, 185);
    font-size: 200%;
}