body{
    background-image: linear-gradient(rgb(243, 249, 249),rgba(177, 187, 189, 0.3)),url("Photos_bg/check.png");
}
.nav{
    width: 100%;
    border: 0;
    padding: 0;
  }
h1{
    color:rgb(149, 69, 53)
}
.label {
    color: white;
    padding: 8px;
  }
  
  .Name {background-color: #97c4b3;} 
  .Email {background-color: #97c4b3;} 
  .PhoneNumber {background-color: #97c4b3;} 
  .Birthday {background-color:#97c4b3;} 
  .container{
    border: none;
    
  }