*{
    text-decoration: none;
  }
  .navbar{
    background: rgb(68, 105, 114); font-family: calibri; padding-right: 15px;padding-left: 15px;
  }
  .navdiv{
    display: flex; align-items: center; justify-content: space-between;
  }
  .logo a{
    align-items:start;
    font-size: 35px; font-weight: 600; color: white;
  }
  li{
    list-style: none; display: inline-block;
  }
  li a{
    color: white; font-size: 18px; font-weight: bold; margin-right: 25px;
  }
  li:hover {
    text-decoration: underline;
    color: aquamarine;
  }
  .logo1{
    display: flex; align-items: center; justify-content: space-between;
  }